/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
/* #212529 negro
#DC3545 rojo */
@media (min-width: 576px) {
    body{
        background-color: #212529;
    }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #212529;
}

